<mat-toolbar class="toolbar">
  <span>Light/Dark-Mode</span>
  <button
    class="menuBtn"
    mat-flat-button
    color="accent"
    [matMenuTriggerFor]="menu"
  >
    Theme <mat-icon class="icon">keyboard_arrow_right</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="toggleDarkMode('auto')">Auto</button>
    <button mat-menu-item (click)="toggleDarkMode('light')">Light</button>
    <button mat-menu-item (click)="toggleDarkMode('dark')">Dark</button>
  </mat-menu>
</mat-toolbar>
