<div class="main">
  <div class="card">
    <h1>Card</h1>
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia provident
        non cumque minus mollitia aspernatur animi ratione voluptas, adipisci
        distinctio deleniti sunt unde rerum velit optio aut fugiat. Doloremque,
        possimus! Libero at nihil corporis omnis commodi dolore provident maxime
        possimus nostrum, minima reiciendis labore ullam, accusamus, ea quae
        officia quo nisi incidunt saepe. Animi tempore, totam id consequatur
        beatae excepturi? Perferendis asperiores temporibus rerum cum,
        perspiciatis deleniti porro nobis reprehenderit sed id dolore qui,
        voluptatum ipsa excepturi assumenda? Commodi dignissimos ipsum harum?
        Natus quod quidem quo voluptas hic eum vel? Ea odit tenetur sed id
        perferendis omnis repudiandae, magni atque dolorum hic minima autem
        commodi aperiam porro exercitationem sequi accusamus assumenda
        cupiditate corrupti rem magnam deserunt qui dolores. Deserunt, pariatur.
        Quae tenetur vero laborum, voluptatum optio atque sed quo dolorem quidem
        debitis? Quidem animi optio fugit ea maiores, explicabo, rerum odio modi
        voluptate necessitatibus similique dolorem recusandae ipsam, minus hic!
        Expedita quasi non saepe minus omnis suscipit earum porro rerum iure sit
        nihil quae sequi in, eos tenetur possimus modi error doloremque ab cum
        eius? Quibusdam facere suscipit autem sunt. Blanditiis, beatae voluptate
        nostrum a molestiae molestias eligendi quos quidem eveniet repellat quae
        dolorum et rerum laboriosam ducimus? Ut repudiandae quam quas dolorem et
        sequi fugit alias rem expedita eveniet! Numquam atque quos officia
        maxime minus accusamus voluptatibus perferendis dolorum eaque, a
        voluptatum ipsam eveniet tempore voluptatem, exercitationem fuga fugit
        sapiente.
      </p>
    </div>
  </div>
</div>
