<div class="form">
  <form>
    <div class="input">
      <label>Input</label>
      <input class="inp" type="text" />
    </div>
    <div class="input">
      <label>Age</label>
      <input class="inp" type="number" />
    </div>
    <div class="input">
      <label>Number</label>
      <input class="inp" type="tel" />
    </div>
    <div class="input">
      <label>Date Of Birth</label>
      <input class="inp" type="date" />
    </div>
    <div class="input">
      <label>Occupation</label>
      <input class="inp" list="list" type="text" />
      <datalist id="list">
        <option>teacher</option>
        <option>doctor</option>
        <option>engineer</option>
      </datalist>
    </div>
  </form>
  <div class="input">
    <input class="inp" type="checkbox" />
    <label>Agree</label>
  </div>
  <button class="btn" type="submit" mat-raised-button color="warn">
    Submit
  </button>
</div>
